@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?bkbkbj');
  src:  url('fonts/icomoon.eot?bkbkbj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bkbkbj') format('truetype'),
    url('fonts/icomoon.woff?bkbkbj') format('woff'),
    url('fonts/icomoon.svg?bkbkbj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hours-support-icon:before {
  content: "\e900";
  color: #000;
}
