.ndp-days th,.ndp-header {
    font-weight: 700;
    position: relative;
    text-align: center;
}

div#ndp-nepali-box {
    font-family: 'Trebuchet MS',Tahoma,Verdana,Arial,sans-serif;
    border: 1px solid #A6C9E2;
    background-color: #FDFEFE;
    position: absolute;
    z-index: 9999;
    margin-top: 1px;
    width: 261px;
    padding: .2em .2em 0;
        -moz-border-radius: 4px;
    -webkit-border-radius: 4px; ;
    border: 1px solid #aaaaaa;
       border: 1px solid #aaaaaa;
    background: #ffffff url(../images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
    color: #222222;
    color: #222222;
    font-weight: bold;
}

div#npd-table-div {
    margin: 0;
}

div#npd-table-div table {
    border-spacing: 2px;
    border-collapse: separate;
}

div#ndp-nepali-box td.ndp-date {

}

div#ndp-nepali-box td.ndp-selected {
        border: 1px solid #fcefa1;
    background: #fbf9ee url(../images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
    color: #363636;
    text-align: right;
}
div#ndp-nepali-box td.ndp-selected a{
    border: none;
    padding: 2px !important;
    display: block;
    background: #fbf9ee url(../images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
}
div#ndp-nepali-box td.ndp-current {
    margin: 0;
    padding: 0 !important;
    border: 0;
    background: transparent;
    line-height: 19px;
}

div#ndp-nepali-box td.ndp-current a {
        border: 1px solid #aaaaaa;
    background: #ffffff url(../images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #212121;
    outline: none;
    display: block;
    text-align: right;
        padding:5px 2px;
}

div#ndp-nepali-box td.ndp-date a {
    display: block;
    text-decoration: none;
    font-size: 12px;
    padding:5px .2em;
    text-align: right;
    text-decoration: none;
        color: #333;
}

a.ndp-disabled {
    color: #ccc!important;
}

div#ndp-nepali-box td.ndp-date:hover {
    opacity: 1;
}

div#ndp-nepali-box td.ndp-date a:hover {
    border: 1px solid #999999;
    background: #dadada url(../images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #212121;
    outline: none;
}

div#ndp-nepali-box table,div#ndp-nepali-box td,div#ndp-nepali-box tr {
    font-size: 12px;
    height: 19px;
    line-height: 19px;
}

.ndp-next,.ndp-prev {
    position: absolute;
    top: 6px;
    width: 1.3em;
    height: 1.3em;
}

div#ndp-nepali-box a {
    text-decoration: none;
}

.ndp-header {

        border: 1px solid #aaaaaa;
    background: #cccccc url(../images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
    color: #222222;
    font-weight: bold;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
        position: relative;
    padding: .2em 0;
}
span#currentMonth {
    margin: 0;
    line-height: 1.8em;
    text-align: center;
    width: 100%;
    display: block;
}

.ndp-prev {
    position: absolute;
    top: 50%;
    background-image: url(../images/ui-icons_222222_256x240.png);
    display: block;
    left: 7px;
    margin-top: -8px;
    background-position: -80px -192px;
    width: 16px;
    height: 16px;
}

.ndp-prev:hover {
    /*background: url(../images/ndp_buttons.png) -16px 0 #D0E5F5;*/
}

.ndp-next:hover {
    /*background: url(../images/ndp_buttons.png) -48px 0 #D0E5F5;*/
}

.ndp-next {
   position: absolute;
    top: 50%;
    background-image: url(../images/ui-icons_222222_256x240.png);
    display: block;
    right:7px;
    margin-top: -8px;
    background-position:-48px -192px;
    width: 16px;
    height: 16px;
}

#currentMonth #npd-month-select,#currentMonth #npd-year-select {
    font-size: 12px;
    font-weight: 600;
    width: 35%;
    border-radius: 0;
    box-shadow: none!important;
    color: #858585;
    border: 1px solid #d5d5d5;
}
#npd-table-div table:first-of-type{
    width: 100%;
}
#npd-table-div:not(.ndp-days) td {

}
tr.ndp-days th {
  padding: 10px 5px;
}
#npd-table-div:not(.ndp-days) td a {
    border: 1px solid #d3d3d3;
    background: #e6e6e6 url(../images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #555555;
    outline: none;
}
.ndp-corner-all,.ndp-corner-left,.ndp-corner-tl,.ndp-corner-top {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -khtml-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}

.ndp-corner-all,.ndp-corner-right,.ndp-corner-top,.ndp-corner-tr {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -khtml-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

.ndp-corner-all,.ndp-corner-bl,.ndp-corner-bottom,.ndp-corner-left {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -khtml-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.ndp-corner-all,.ndp-corner-bottom,.ndp-corner-br,.ndp-corner-right {
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -khtml-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
